extends basic.pug


block scripts 
    script(src='../static/index.js')


block style 
    style
      include ../static/style.css
      include ../static/styleabo.css

block content

    section#first
      h1    About Us
     

    
    section#second 
      
      p Launched in 2021, FoodHunt connects customers, restaurant partners and delivery partners, serving their multiple needs. Customers use our platform to search and discover restaurants, groceries, Deserts and beverages  , order food delivery. Customers use our platform to search and discover restaurants, read and write customer generated reviews and view and upload photos, order food delivery, book a table and make payments while dining-out at restaurants. On the other hand, we provide restaurant partners with industry-specific marketing tools which enable them to engage and acquire customers to grow their business while also providing a reliable and efficient last mile delivery service. We also operate a one-stop procurement solution, Hyperpure, which supplies high quality ingredients and kitchen products to restaurant partners. We also provide our delivery partners with transparent and flexible earning opportunities.
      p We have local teams dedicated to finding the best food in your city—whether that's spaghetti carbonara or a really good burger—so you can get the coolest restaurants brought right to you. We have in house nutritionists behind collections like Healthy Enough, Vegan, Vegetarian, and more. So when you want to find food that fits your diet, or to eat a little healthier, we can help.Some nights you just need to clean the living room or call your mom or don't feel like going to the grocery store. We're here to help you with food-stuff, so you can do other stuff.
      p We Believe in Quality. All around. Quality food can’t be made without quality initiative. Find out about the general population driving The ‘Organization Name’ .
      div.card1
        div.card1-img  
                
