extends basic.pug


block scripts 
    script(src='../static/index.js')


block style 
    style
      include ../static/style.css
      include ../static/types/res/ah.css

block content

    section#first
      h1    Available Foods in
      h1    Almond-House
     

    
    section#second 
    
      div.card
           div.card-box
               div.card-img 
 
                img(src="http://www.shudhrestaurant.com/images/photo-gallery/big/img22_big.jpg")

      div.card
           div.card-box
               div.card-img  

                img(src="http://www.shudhrestaurant.com/images/photo-gallery/big/img24_big.jpg")

      div.card
           div.card-box
               div.card-img 
  
                img(src="http://www.shudhrestaurant.com/images/photo-gallery/big/img26_big.jpg")  

      div.card
           div.card-box
               div.card-img 

                img(src="http://www.shudhrestaurant.com/images/photo-gallery/big/img27_big.jpg")

      div.card
           div.card-box
               div.card-img 
   
                img(src="http://www.shudhrestaurant.com/images/photo-gallery/big/img8_big.jpg")

      div.card
           div.card-box
               div.card-img 
    
                img(src="http://www.shudhrestaurant.com/images/photo-gallery/big/img15_big.jpg")  


