extends basic.pug


block scripts 
    script(src='../static/index.js')


block style 
    style
      include ../static/style.css
      include ../static/types/res/eat.css

block content

    section#first
      h1  Available Foods in Flechazo

     
    section#second 
      
       div.card
           div.card-box
               div.card-img  
     
                  img(src="http://www.shudhrestaurant.com/images/photo-gallery/big/img25_big.jpg")
       div.card
         div.card-box
             div.card-img

                  img(src="http://www.shudhrestaurant.com/images/photo-gallery/big/img23_big.jpg")
       div.card
         div.card-box
             div.card-img

                  img(src="http://www.shudhrestaurant.com/images/photo-gallery/big/img12_big.jpg")  
       div.card
         div.card-box
             div.card-img
  
                  img(src="http://www.shudhrestaurant.com/images/photo-gallery/big/img9_big.jpg")
       div.card
         div.card-box
             div.card-img

                  img(src="http://www.shudhrestaurant.com/images/photo-gallery/big/img6_big.jpg")            
       div.card
         div.card-box
             div.card-img
  
                  img(src="http://www.shudhrestaurant.com/images/photo-gallery/big/img11_big.jpg")  